.recipes {
  background-color: #ffffff;
  background-image: url(../Images/background_recipes.svg);
  background-position: center;
  background-repeat: no-repeat;
  size: cover;
  padding-top: 100px;
}
.recipes__title {
  max-width: 580px;
  margin-left: 80px;
  font-family: Inter, "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  margin-left: 80px;
  margin-bottom: 80px;
  font-family: Noto Serif, "Times New Roman", "serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-bottom: 215px;
}
.recipes__video {
  padding-bottom: 24px;
}
.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: Inter, "Arial", "sans-serif";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
